// ----- //
// Fonts //
// ----- //
@font-face {
  font-family: Pelagiad;
  src: url(./fonts/Pelagiad.ttf);
}


// ------ //
// Global //
// ------ //
$title-text-color      : rgb(223, 201, 159);
$regular-text-color    : rgb(202, 165, 96);
$font-size             : 20px;
$cursor                : url(./img/cursor.png) 0 0, auto;
$desktop-column-width  : 150px;
$desktop-column-margin : 20px;
$mobile-threshold      : 768px;
$max-desktop-width     : 980px;
$header-height         : 70px;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: fixed;
  min-height: 100%;
  width: 100%;
  margin: 0;

  cursor: $cursor;

  display: flex;
  justify-content: center;

  overflow-y: hidden;
  overflow-x: hidden;

  font-size: $font-size;
  font-family: Pelagiad;

  user-select: none;

  color: $regular-text-color;
  .title { color: $title-text-color }

  background-image: url(./img/ordinator.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#form {
  .hoverable, .sex-selector {
    &:hover {
      color: $title-text-color;
    }
  }
}

// ------ //
// Layout //
// ------ //
#desktop-app {
  margin-top: max($header-height, 10vh);
  margin-bottom: 5vh;
}

#form.desktop, #result.desktop {
  margin: 20px;
  padding: 15px;
}

#result {
  margin-top: 0;
  width: 49em;
}

#desktop-app, #desktop-app #form {
  border: 1px solid $regular-text-color;
  background-color: rgba(0.5, 0.5, 0.5, 0.8);
}

#form {
  &.desktop {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 168px;
    background-color: black;

    .form-item {
      width: $desktop-column-width;
      margin-right: $desktop-column-margin;
    }
  }

  &.mobile {
    background-color: rgba(0.5, 0.5, 0.5, 0.8);
    padding: 10px;
    height: 100vh;
    vertical-align: top;
    font-size: 1.2em;  // TODO refactor andd use same value for result and help

    .form-item {
      width: calc(50% - 20px);
      margin: 20px 10px;
      vertical-align: top;
      display: inline-block;
    }
  }
}

#result {
  & > * {
    display: inline-block;
    vertical-align: top;
  }
}

#person,
#class-form > div,
#birthsign,
.secondary-attributes,
.primary-attributes,
.major-skills-result,
.minor-skills-result,
.misc-skills-result {
  margin-right: $desktop-column-margin;
  width: $desktop-column-width;
}

span:not(:first-child) {
  float: right;
}

.sex-selector {
  position: relative;
  span {
    position: absolute;
    left: 3.5em;
    top: -0.1em;
  }
}

// ------------------------ //
// Secondary Attribute Bars //
// ------------------------ //
.secondary-attributes {
  span {
    width: 70px;
    text-align: center;
  }
  .health  {
    background: #9d3018; /* Old browsers */
    background: -moz-linear-gradient(top, #9d3018 1%, #9e2f18 15%, #2d0e07 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9d3018 1%,#9e2f18 15%,#2d0e07 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9d3018 1%,#9e2f18 15%,#2d0e07 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d3018', endColorstr='#2d0e07',GradientType=0 ); /* IE6-9 */
  }
  .magicka {
    background: #2a367d; /* Old browsers */
    background: -moz-linear-gradient(top, #2a367d 18%, #2a367d 18%, #0c1024 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2a367d 18%,#2a367d 18%,#0c1024 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2a367d 18%,#2a367d 18%,#0c1024 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a367d', endColorstr='#0c1024',GradientType=0 ); /* IE6-9 */background-color: dodgerblue;
  }
  .fatigue {
    background: #00762f; /* Old browsers */
    background: -moz-linear-gradient(top, #00762f 17%, #00230d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00762f 17%,#00230d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00762f 17%,#00230d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00762f', endColorstr='#00230d',GradientType=0 ); /* IE6-9 */
  }
}

// -------- //
// Specials //
// -------- //
.special-type-container:not(:last-child) {
  margin-bottom: 1em;
}

.special {
  div div {
    padding-top: 3px;
  }
  img {
    float: left;
    height: 1em;
    padding-right: 5px;
  }
}

// ------- //
// Tooltip //
// ------- //
.hoverable {

  .tooltip {
    position: absolute;
    background-color: black;
    padding: 15px;
    border: 2px solid $regular-text-color;
    color: $regular-text-color;
    text-align: left;
    z-index: 12;

    &.race .stats {
      white-space: nowrap;
    }

    .icon-header {
      height: 2.8em;
      .title {
        text-align: left;
      }
      img {
        height: 100%;
        margin-right: 10px;
        float: left;
      }
      padding-bottom: 10px;
    }

    > .title {
      text-align: center;
    }

    &.skill, &.primary-attribute, &.secondary-attribute {
      width: 23em;
    }

    &.specialization {
      text-align: center;
    }

    &.primary-attribute .title {
      padding-top: 0.4em;
    }

    &.secondary-attribute {
      .icon-header {
        height: auto;
        padding: 0;
        img {
          height: 2.2em;
        }
        .value {
          margin-left: calc(2.2em + 10px);
        }
      }
    }

    &.race {
      .stats {
        * {
          vertical-align: top;
        }
        > div {
          &:first-child {
            width: $desktop-column-width;
            margin-right: 30px;
          }
          display: inline-block;
        }
      }
    }
  }
}


// --------------- //
// Selector Modals //
// --------------- //
.selector-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(0.5, 0.5, 0.5, 0.5);
  overflow-y: auto;
  z-index: 10;
  padding: 10px;

  align-items: start;
  @media (min-width: $mobile-threshold) {
    align-items: center;
  }

  > div {
    background-color: black;
    border: 2px solid $regular-text-color;
    padding: 15px;
  }

  .hoverable:hover {
    color: $title-text-color !important;
  }

  .skill-select-popup {
    > div:not(.title) {
      display: inline-block;
      text-align: left;
      width: 130px;
    }
  }

  #help {
    max-width: $max-desktop-width;
    text-align: left;
    * {
      vertical-align: top;
    }
    button {
      position: absolute;
      bottom: 15px;
      right: 15px;
    }
  }
}

// ------ //
// Button //
// ------ //
button { // TODO fix button alignment on modals after recent changes
  border: 1px solid $regular-text-color;
  outline: 1px solid $title-text-color;
  background-color: black;
  font-family: Pelagiad;
  font-size: $font-size;
  color: $regular-text-color;
  float: right;
  cursor: $cursor;
  &:hover {
    color: $title-text-color
  }
}

#drawer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: $header-height;
  right: 0;
  overflow-y: scroll;
  z-index: 3;

  // Drawer animation
  transform: translateX(-100%);
  transition: transform 0.2s ease;
  &.active {
    transform: translateX(0);
  }
}

#header {
  padding: 0 20px;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  background-color: rgba(0.5, 0.5, 0.5, 0.8);
  &.mobile {
    background-color: black
  }

  -webkit-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.75);

  > div {
    width: 100%;
    max-width: calc($max-desktop-width + 30px);
    display: flex;
    justify-content: space-between;
    line-height: 100%;
    > div {
      display: inline-block;
    }
  }
}
