// ----- //
// Fonts //
// ----- //
@font-face {
  font-family: Pelagiad;
  src: url(./fonts/Pelagiad.ttf);
}


// ------ //
// Global //
// ------ //
$title-text-color   : rgb(223, 201, 159);
$regular-text-color : rgb(202, 165, 96);
$font-size          : 14pt;
$cursor             : url(./img/cursor.png) 0 0, auto;
$column-width       : 150px;
$column-side-margin : 20px;

body {
  border: 0;
  margin: 0;

  cursor: $cursor;

  display: flex;
  justify-content: center;

  overflow-y: scroll;
  overflow-x: hidden;

  font-size: $font-size;
  font-family: Pelagiad;

  user-select: none;
  height: 100vh;

  color: $regular-text-color;
  .title { color: $title-text-color }
}

#background-holder {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: calc(100vw - 17px);
  z-index: -1;
  background-image: url(./img/background.jpg);
  background-size: 100% 100%;
}

#form {
  .hoverable, .sex-selector {
    &:hover {
      color: $title-text-color;
    }
  }
}

// ------ //
// Layout //
// ------ //
#app {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#form, #result, #main-title {
  margin: 20px;
  padding: 15px;
}

#result {
  padding-right: 0;
  min-height: 20em;
}

#main-title {
  font-size: 2em;
  div {
    float: right;
    height: 1em;
    width: 1em;
    border: 2px solid $regular-text-color;
    border-radius: 100%;
    text-align: center;
    vertical-align: bottom;
    &:hover {
      color: $title-text-color;
      border: 2px solid $title-text-color;
    }
    span {
      position: relative;
      bottom: 0.03em;
      left: 0.025em;
    }
  }
}

#result {
  margin-top: 0;
  width: 49em;
}

#form, #app {
  border: 1px solid $regular-text-color;
  background-color: rgba(0.5, 0.5, 0.5, 0.8);
}

#form {
  background-color: black;
}

#form, #class-form, #result {
  & > * {
    display: inline-block;
    vertical-align: top;
  }
}

#person,
#class-form > div,
#birthsign,
.secondary-attributes,
.primary-attributes,
.major-skills-result,
.minor-skills-result,
.misc-skills-result {
  width: $column-width;
}

#person,
#class-form > div,
#birthsign,
.secondary-attributes,
.primary-attributes,
.major-skills-result,
.minor-skills-result,
.misc-skills-result {
  margin-right: $column-side-margin;
}

span:not(:first-child) {
  float: right;
}

.sex-selector {
  position: relative;
  span {
    position: absolute;
    left: 3.5em;
    top: -0.1em;
  }
}

// ---------- //
// Text Input //
// ---------- //
input[type=text] {
  font-family: Pelagiad;
  width: 100%;
  font-size: $font-size;
  background-color: black;
  border: 1px solid $regular-text-color;
  color: $regular-text-color;
  outline: none;
  &::selection {
    // TODO figure out what the actual selection color is
    background-color: white;
  }

  &:hover {
    color: $title-text-color;
  }
  &:focus {
    border: 1px solid $title-text-color;
    color: $title-text-color;
  }
}


// ------------------------ //
// Secondary Attribute Bars //
// ------------------------ //
.secondary-attributes {
  span {
    width: 70px;
    text-align: center;
  }
  .health  { 
    background: #9d3018; /* Old browsers */
    background: -moz-linear-gradient(top, #9d3018 1%, #9e2f18 15%, #2d0e07 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9d3018 1%,#9e2f18 15%,#2d0e07 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9d3018 1%,#9e2f18 15%,#2d0e07 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d3018', endColorstr='#2d0e07',GradientType=0 ); /* IE6-9 */
  }
  .magicka {
    background: #2a367d; /* Old browsers */
    background: -moz-linear-gradient(top, #2a367d 18%, #2a367d 18%, #0c1024 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #2a367d 18%,#2a367d 18%,#0c1024 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #2a367d 18%,#2a367d 18%,#0c1024 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a367d', endColorstr='#0c1024',GradientType=0 ); /* IE6-9 */background-color: dodgerblue;
  }
  .fatigue {
    background: #00762f; /* Old browsers */
    background: -moz-linear-gradient(top, #00762f 17%, #00230d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #00762f 17%,#00230d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #00762f 17%,#00230d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00762f', endColorstr='#00230d',GradientType=0 ); /* IE6-9 */
  }
}

// -------- //
// Specials //
// -------- //
.special-type-container:not(:last-child) {
  margin-bottom: 1em; 
}

.special {
  div div {
    padding-top: 3px;
  }
  img {
    float: left;
    height: 1em;
    padding-right: 5px;
  }
}

// ------- //
// Tooltip //
// ------- //
.hoverable {

  .tooltip {
    position: absolute;
    background-color: black;
    padding: 15px;
    border: 2px solid $regular-text-color;
    color: $regular-text-color;
    text-align: left;

    &.race .stats {
      white-space: nowrap;
    }

    .icon-header {
      height: 2.2em;
      .title {
        text-align: left;
      }
      img {
        height: 100%;
        margin-right: 10px;
        float: left;
      }
      padding-bottom: 10px;
    }

    > .title {
      text-align: center;
    }

    &.skill, &.primary-attribute, &.secondary-attribute {
      width: 23em;
    }

    &.specialization {
      text-align: center;
    }

    &.primary-attribute .title {
      padding-top: 0.4em;
    }

    &.secondary-attribute {
      .icon-header {
        height: auto;
        padding: 0;
        img {
          height: 2.2em;
        }
        .value {
          margin-left: calc(2.2em + 10px);
        }
      }
    }

    &.race {
      .stats {
        * {
          vertical-align: top;
        }
        > div {
          &:first-child {
            width: $column-width;
            margin-right: 30px;
          }
          display: inline-block;
        }
      }
    }
  }
}


// --------------- //
// Selector Modals //
// --------------- //
.selector-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0.5, 0.5, 0.5, 0.8);

  > div {
    background-color: black;
    border: 2px solid $regular-text-color;
    padding: 15px;
  }

  .hoverable:hover {
    color: $title-text-color !important;
  }

  .skill-select-popup {
    > div:not(.title) {
      display: inline-block;
      text-align: left;
      width: 130px;
    }
  }

  #help {
    text-align: left;
    position: relative;
    min-width: 57.8em;
    * {
      vertical-align: top;
    }
    .how-to {
      margin-bottom: 0;
      padding: 5px 0 35px 0;
      border-bottom: 1px solid $regular-text-color;
    }
    > div {
      &:first-child {
        padding-right: 15px;
      }
      &:nth-child(2) {
        padding-left: 15px;
        border-left: 1px solid $regular-text-color;
      }
      display: inline-block;
      width: 28em;
    }
    button {
      position: absolute;
      bottom: 15px;
      right: 15px;
    }
  }
}

// ------ //
// Button //
// ------ //
button {
  border: 1px solid $regular-text-color;
  outline: 1px solid $title-text-color;
  background-color: black;
  font-family: Pelagiad;
  font-size: $font-size;
  color: $regular-text-color;
  float: right;
  cursor: $cursor;
  &:hover {
    color: $title-text-color
  }
}